<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} | e-shop</title>
</head>
<body>
    {% block navbar %}
        {% include 'core/navbar.html' %}
    {% endblock %}

    {% block content %}
        <h1>Django rest API</h1>
        
        {% for product in products %}
            <a href="{% url 'product_detail' product.slug %}">
                <h2>{{ product.name }}</h2>
                <p>{{ product.get_display_price }}</p>
            </a>
        {% endfor %}
    {% endblock content %}

</body>
</html>